h1{
    color: green;
    padding-left: 45%;
}

h2{
    color: blue;
    padding-left: 45%
}

h3{
    color: yellow;
    padding-left: 45%
}

body{
    background-color: #DE8887;
}
img{
    padding-left: 45%;
}